* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Roboto-Regular.ttf";
    src: url(font/Roboto-Regular.ttf);
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto-Regular.ttf";
}

/* navbar----------- */
header {
    margin-left: 140px;
    margin-right: 180px;
}

.container1 {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.cont1 {
    width: 150px;
    height: 70%;
}

.cont1 img {
    width: 90%;
}

.cont1 img:hover {
    cursor: pointer;
}

.cont2 ul {
    width: 300px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 20px;
    flex-wrap: wrap;
    text-transform: capitalize;
    font-weight: lighter;
}

.cont2 li a {
    text-decoration: none;
    color: #000000;
}

.cont2 li a:hover {
    cursor: pointer;
    text-decoration: underline rgb(85, 213, 255);
}

.cont3 ul {
    display: flex;
    list-style: none;
    width: 160px;
    justify-content: space-around;
    flex-flow: row wrap;
}

.cont3 a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.cont3 a i:hover {
    cursor: pointer;
    text-decoration: underline rgb(85, 213, 255);
}

.cont4 {
    width: 150px;
    height: 30%;
    justify-content: center;
}

.cont4 button {
    border: 0 solid;
    background-color: #59C7C4;
    padding: 14px 0px 14px 0px;
    border-radius: 30px;
    width: 140px;
    font-size: 15px;
    font-weight: normal;
    margin-top: 4px;
    color: rgb(255, 255, 255);
}

.cont4 button:hover {
    background-color: #59b6b3;
    cursor: pointer;
}

@media screen and (min-width:481px) and (max-width:1280px) {
    .container1{
        flex-direction: column;
    }
    
}